@page
@using SSar.Presentation.WebUI.Infrastructure.Tags
@model SSar.Presentation.WebUI.Areas.Identity.Pages.Roles.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, HtmlTags.AspNetCore
@{
}

<h2>Add Role</h2>

<div class="pb-4">
    <a asp-area="Identity" asp-page="/Roles/Index">Back to role list</a>
</div>


<div asp-validation-summary="All"></div>

<form method="POST">

    @Html.FormBlock(m => m.Command.Name)
    @Html.FormBlock(m => m.Command.Description)

    <input type="submit" value="Create" />

</form>