@page
@model SSar.Presentation.WebUI.Areas.Membership.Pages.MemberOrgs.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, HtmlTags.AspNetCore
@{
}

    <h1>
        Member Organizations
    </h1>

    <div>
        <a asp-page="/MemberOrgs/Create">Add member organization</a><br />
    </div>
