@page
@model SSar.Presentation.WebUI.Areas.Membership.Pages.Members.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, HtmlTags.AspNetCore
@{
}

<h1 class="mb-4">
    Membership Management
</h1>

<p>Nothing to see here. Move along...</p>
