@page
@model Presentation.WebUI.Areas.Membership.Pages.ExamplePerson.CreateModel
@{
    Layout = "_Layout";
}

<h1>Add ExamplePerson</h1>

<form asp-area="Membership" asp-page="Membership/Create" method="post"></form>
