@page
@model Presentation.WebUI.Areas.Membership.Pages.ExamplePerson.IndexModel
@{
    Layout = "_Layout";
}
<h1>ExamplePerson index page</h1>

<div>
    <a asp-page="/ExamplePerson/Create">Add person</a><br/>
</div>